*{
    white-space: nowrap;
}
.cardformweb{
    /*border-left: rgb(216,220,222) 1px solid;*/
    border-right: rgb(216,220,222) 1px solid;
    padding:10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    /*min-width: calc(100% / 6);*/
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flexrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.cardformweb__title{
    font-style:italic;
    color: #879395;
    margin-bottom: -10px;
}
.cardformweb__group1{
    height: 40px;
    display: flex;
    align-items: flex-end;
}
.cardformweb__group1__maintext{    
    font-size: 25px;
    font-weight: 800;
    color:#1abc9c;
    margin-bottom: -5px;
    margin-right: 4px;
    white-space: nowrap;

}
.cardformweb__group2--subtext{
    font-size: 10px;
    font-weight: 800;
    color: #879395;
    text-transform: uppercase;
}
.cardformweb__group2--subsubtext{
    font-size: 10px;
    color: #879395;
    text-transform: uppercase;
}

.cardformweb__rightcontent{
    height: 100%;
    margin-left: 10px;
}
.cardformweb__rightcontent__icon img{
    height: 20px;
}